Types of Objects in Python

1. Immutable

2. Mutable

Immutable Objects

1. int

2. float

3. string

4. bool

5. tuple

Mutable Objects

1. List

2. Set

3. Dictionary

### List

In [1]:
l = []
type(l)

list

In [2]:
l = [1,3,5,6]
print(l)

[1, 3, 5, 6]

In [3]:
l = [1,9.5,'ML']
print(l)

[1, 9.5, 'ML']

In [4]:
l = [1,9.5,'ML',True]
print(l)

[1, 9.5, 'ML', True]

In [6]:
# add elements to a list
fruits = ['apple','banana','grapes','Orange']
fruits.append('papaya')

In [7]:
print(fruits)

['apple', 'banana', 'grapes', 'Orange', 'papaya']

In [8]:
fruits[0]

'apple'

In [9]:
fruits[3]

'Orange'

In [10]:
fruits[0][2:5]

'ple'

In [11]:
#list allows duplicate values
fruits = ['apple','banana','grapes','Orange','apple']
print(fruits)

['apple', 'banana', 'grapes', 'Orange', 'apple']

In [12]:
print(len(fruits))

5

In [1]:
#deleting an item in list
fruits = ['apple','banana','grapes','Orange','apple']
print(fruits)

['apple', 'banana', 'grapes', 'Orange', 'apple']

In [2]:
del fruits[4]

In [3]:
print(fruits)

['apple', 'banana', 'grapes', 'Orange']

In [4]:
#joining two list
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]

list_3 = list_1 + list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Tuple

In [7]:
t = ()
print(t)

()

In [8]:
type(t)

tuple

In [9]:
#multiple data types in tuple
t = (1,2.5,"Machine Learning",True)
print(t)

(1, 2.5, 'Machine Learning', True)

In [12]:
#converting a list into a tuple
my_list = ['froots',1,2,"ten"]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

['froots', 1, 2, 'ten']
('froots', 1, 2, 'ten')

In [18]:
fruits = ('apple','banana','grapes','Orange','apple')

In [19]:
fruits[0]

'apple'

In [20]:
print(fruits[0])

apple

lists --> immutable

In [21]:
fruits.append("apple")

AttributeError: 'tuple' object has no attribute 'append'

## Sets

In [25]:
my_set = set()
print(my_set)
type(my_set)

set()

set

set ---> not support indexing

In [27]:
my_set = {1,2,3,4}
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [28]:
#convert list to a set
my_list =[5,6,7,8]

x = set(my_list)
print(x)

{8, 5, 6, 7}

set ---> does not allow duplicate value

In [29]:
set_2 ={4,5,6,7,1,4,5,2}
print(set_2)

{1, 2, 4, 5, 6, 7}

## Dictionary

Key---->Value

In [31]:
my_dict = {'planet':'earth','person':'yaman','age':25,'country':'India'}
print(my_dict)
type(my_dict)

{'planet': 'earth', 'person': 'yaman', 'age': 25, 'country': 'India'}

dict

In [35]:
print(my_dict['person'])
print(my_dict['country'])
print(my_dict['age'])

yaman
India
25

Dictionary ---> does not allow duplicate values

In [37]:
my_dict ={'red':'apple','yellow':'mango','black':'grapes','red':'apple'}

In [38]:
my_dict

{'red': 'apple', 'yellow': 'mango', 'black': 'grapes'}