Loops

1. For

2. While

### For Loops

In [2]:
laptop1 = int(input('Enter the price of the laptop: '))
laptop2 = int(input('Enter the price of the laptop: '))
laptop3 = int(input('Enter the price of the laptop: '))
laptop4 = int(input('Enter the price of the laptop: '))
laptop5 = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 10000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 60000

In [3]:
for i in range(5):
    laptop_price = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [6]:
numbers = [50,100,150,200]

for i in numbers:
    print(i)

50
100
150
200

### While Loop

Conditions: Statement is true

In [7]:
i = 0

while i  < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [8]:
a = 20

while a < 100:
    print(a)
    a += 1

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [11]:
i = 17

while i < 30:
    print(i)
    i += 1

17
18
19
20
21
22
23
24
25
26
27
28
29