# Operators

1. Arithmetic Operators

2. Assignment Operators

3. Comparison Operators

4. Logical Operators

5. Identity Operators

6. Membership Operators

### Arithmetic Operators

In [2]:
num_1 = 20
num_2 = 10

# addition operators
sum = num_1 + num_2
print("Sum =",sum)

#subtraction
diff = num_1 - num_2
print("Difference = ", diff)

#multiplication
mult = num_1 * num_2
print("Multiplication = ",mult)

#division
div = num_1/num_2
print("Quo =",div)

#exponent
exp = num_1 ** num_2
print("exponenet =",exp)

#modulus
mod = num_1 %  num_2
print("Modulus =",mod)

Sum = 30
Difference =  10
Multiplication =  200
Quo = 2.0
exponenet = 10240000000000
Modulus = 0

### Assignment Operators

+=

-=

*=

/=

**=

%=

In [3]:
a = 5
print(a)

5

In [4]:
a = 5
a += 5   #a = a+5

print(a)

10

In [5]:
b = 5
b -= 2 #b = b-2
print(b)

3

In [6]:
c = 8
c *= 3
print(c)

24

### Comparison Operators

In [7]:
a = 5
b= 10
print(a == b)    #equal to comparison operator
print(a != b)    #not equal
print(a > b)     #greater
print(a < b)     #lesser
print(a >= b)
print( a <= b)

False
True
False
True
False
True

### Logical Operators

and
or
not

In [10]:
a = 10
print(a > 20 and a > 5)
print ( a > 20 or a >5)
print( not(a > 8 and a > 5))

False
True
False

### Identity Operators

Is & Is not

In [11]:
x = 5
y = 5
print(x is y)

True

In [14]:
x= 5
y = 10
print(y is x)

False

In [16]:
x = 5
y = 10
print(x is not y)

True

### Membership Operators

in & not in

In [18]:
a = 5
b = 10

c = [1,2,3,4,5]

print(a in c)
print(b in c)

True
False

In [19]:
a = 5
b = 10

c = [1,2,3,4,5]

print(a not in c)
print(b not in c)

False
True